.gradle/
build/
out/
*.iws
*.iml
*.ipr
target/
.classpath
.project
.settings
bin
.idea/


# vim
.*.un~
.*.swp
.swp
.*.swl

**DS_Store**

.*.swo
.*.swn
.*.swm


#secrets
deploy/environments/eu-dev/dev-eu-secrets.env
deploy/environments/eu-dev/it-oms-order-service-secrets.env
deploy/environments/eu-dev/fluent-secrets.env
deploy/environments/eu-dev/it-oms-order-canonical-oms1-transform-secrets.env
deploy/environments/eu-dev/it-oms-order-fluent-service-secrets.env
deploy/environments/eu-dev/it-oms1-order-canonical-transform-eu-secrets.env
deploy/environments/eu-dev/it-order-oms1-canonical-fusion-transform-eu-secrets.env
deploy/environments/us-dev/dev-us-secrets.env
secrets/fluent_dev_secrtes.sh
tools/fluentoauth.sh
it-oms-order-creation-service-oas-api/openapi/.openapi-generator/FILES
it-oms-order-creation-service-oas-api/openapi/.openapi-generator/VERSION
deploy/environments/eu-*/*secrets.env
deploy/environments/eu-*/creds-basic.txt
deploy/environments/eu-prod/prod-input.env


#open api generator
**/openapi/.openapi-generator/*

# lift and shift python tool
deploy/tools/**.env
deploy/tools/tests/
deploy/tools/venv/**
**/*uat-input.env
